:root{
    white-space-collapse:preserve;
    --editor-padding-left: 5px;
    --editor-context-height: 18px;
    --line-height: 1.3em;
    --editor-width: calc(100vw - var(--nav-bar-width) - var(--function-bar-width));
    --line-padding-tb: 3px;
    --line-padding-l: 5px;
    --line-padding: var(--line-padding-tb) 0px var(--line-padding-tb) var(--line-padding-l);

    /* Used to offset padding in case of uneven amounts of leading/trailing whitespaces */
    --comp-padding-r: 0px; 
    --comp-padding-l: 0px;

    --tag-padding: 0px calc(3px + var(--comp-padding-r)) 0px calc(3px + var(--comp-padding-l));
}

.indexMargin{
    display: flex;
    position: relative;
    width: 40px;
    min-width: 40px;
    float: left;
}

.index{
    display: flex;
    height: var(--line-height);
    align-items: center;
    justify-content: center;
    border-right: 1px solid;
    border-color: var(--highlight-color);
    padding: var(--line-padding-tb) 0px;
}

.index:hover{
    color: var(--text-color-hover);
}

.text-editor{
    display: flex;
    
    flex-shrink: 0;
    height: 100%;
    font-size: 1.25em;
}

.editor-context{
    display: flex;
    
    flex-shrink: 0;
    height: var(--editor-context-height);
    align-items: center;
    color: var(--text-color-hover);
    flex-direction: row-reverse;
}

.line-container{
    height: calc(100% - var(--editor-context-height));
}

.line-container span:hover {
    background-color: var(--button-hover);
    border-radius: 5px;
    padding: var(--tag-padding);
}

.line-container .selected-line span:hover {
    background-color: var(--comp-color-alt-hover);
}

.line .gtk9:hover{
    background-color: unset !important;
    border-radius: 0px;
    border-bottom: 1px solid;
}

.selected-span{
    background-color: var(--button-hover);
    border-radius: 5px;
    padding: var(--tag-padding);
}

.selected-line .selected-span {
    background-color: var(--comp-color-alt-hover) !important;
}

.editor{
    display: flex; 
    width: 100%;
    flex-direction: column;
    flex-grow: 0;
    height: auto;
    overflow-x: auto;
    overflow-y: scroll;
}

.content {
    display: flex;
    margin-left: 5px;
}

.line{
    display: flex;
    flex-direction: row;
    min-height: var(--line-height);
    max-height: var(--line-height);
    text-wrap: nowrap;
    padding: var(--line-padding);
    align-items: center;
}

.wildcard{
    display: flex;
    font-weight: 500;
    
}

.wildcard:hover {
    border-radius: 10px;
    background-color: var(--comp-color);
    padding: 0px 10px;
}

.line:hover{
    cursor: text;
}

.selected-line{
    background-color: var(--button-hover);
    color: var(--text-color-hover);
}

.editor::-webkit-scrollbar
{
	width: 10px;
    height: 10px;
    border-radius: 50px;
}