:root{
    --editor-padding-left: 5px;
    --editor-context-height: 18px;
    --line-height: 22px;
    --editor-width: calc(100vw - var(--nav-bar-width) - var(--function-bar-width));
}

.index{
    width: 40px;
    min-width: 40px;
    max-height: var(--line-height);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid;
    border-color: var(--highlight-color);
}

.index:hover{
    color: var(--text-color-hover);
}

.text-editor{
    width: var(--editor-width);
}

.editor-context{
    display: flex;
    height: var(--editor-context-height);
    width: 97%; /* idk why this works */
    align-items: center;
    color: var(--text-color-hover);
    flex-direction: row-reverse;
    font-size: 12px;
}

.line-container{
    height: calc(100vh - var(--context-menu-height) - var(--title-bar-height) - var(--viewport-header-height) - var(--editor-context-height));
    width: var(--editor-width);
}

.editor{
    overflow-y: auto; 
    overflow-x: auto;
    display: flex; 
    flex-direction: column;
}

.content {
    display: flex;
    margin-left: 5px;
}

.line{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: calc(100% - var(--editor-padding-left));
    max-height: var(--line-height);
    text-wrap: nowrap;
    overflow-x: visible;
    padding-left: 5px;
}

.line:hover{
    cursor: text;
}

.selected-line{
    background-color: var(--button-hover);
    color: var(--text-color-hover);
}