:root{
    white-space-collapse:preserve;
    --editor-padding-left: 5px;
    --editor-context-height: 18px;
    --line-height: 22px;
    --editor-width: calc(100vw - var(--nav-bar-width) - var(--function-bar-width));
    --line-padding-tb: 2px;
    --line-padding-l: 5px;
    --line-padding: var(--line-padding-tb) 0px var(--line-padding-tb) var(--line-padding-l);

    /* Used to offset padding in case of uneven amounts of leading/trailing whitespaces */
    --comp-padding-r: 0px; 
    --comp-padding-l: 0px;
}

.indexMargin{
    display: flex;
    position: relative;
    width: 40px;
    min-width: 40px;
    float: left;
}

.index{
    max-height: var(--line-height);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid;
    border-color: var(--highlight-color);
    padding: var(--line-padding-tb) 0px;
}

.index:hover{
    color: var(--text-color-hover);
}

.text-editor{
    height: 100%;
    width: var(--editor-width);
}

.editor-context{
    display: flex;
    height: var(--editor-context-height);
    width: 97%; /* idk why this works */
    align-items: center;
    color: var(--text-color-hover);
    flex-direction: row-reverse;
    font-size: 12px;
}

.line-container{
    height: calc(100% - var(--editor-context-height));
    width: 100%;
}

.line-container span:hover {
    background-color: var(--button-hover);
    border-radius: 5px;
    padding: 0px calc(3px + var(--comp-padding-r)) 0px calc(3px + var(--comp-padding-l));
    
}

.line-container .selected-line span:hover {
    background-color: var(--comp-color-alt-hover);
}

.line .gtk9:hover{
    background-color: unset !important;
    border-radius: 0px;
    border-bottom: 1px solid;
}

.editor{
    display: flex; 
    width: 100%;
    flex-direction: column;
    min-height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

.content {
    display: flex;
    margin-left: 5px;
}

.line{
    display: flex;
    flex-direction: row;
    min-height: var(--line-height);
    max-height: var(--line-height);
    text-wrap: nowrap;
    padding: var(--line-padding);
}

.line:hover{
    cursor: text;
}

.selected-line{
    background-color: var(--button-hover);
    color: var(--text-color-hover);
}

.editor::-webkit-scrollbar
{
	width: 5px;
    height: 10px;
    border-radius: 50px;
}

.editor::-webkit-scrollbar-track:hover{
    cursor:crosshair !important;
}

.editor::-webkit-scrollbar-track
{
	
	background-color: var(--comp-color);
}

.editor::-webkit-scrollbar-thumb
{
	background-color: var(--highlight-color-alt);
    border-radius: 5px;
}