:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;

  --background-color: #1a1b26;
  --border-color: #101014;
  --border-size: 2px;
  --comp-color: #16161e;
  --text-color: #a0a0a0;
  --text-color-hover: #ffffff;
  --button-hover: #353535;
  --highlight-color: #24c8db;
  --highlight-color-alt: #1da7b6;
  --filter-highlight: brightness(0) saturate(100%) invert(73%) sepia(26%) saturate(1227%) hue-rotate(137deg) brightness(89%) contrast(93%); 
  --foreground-color: #d1d1d1;
  --filter-foreground: brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(1%) hue-rotate(252deg) brightness(92%) contrast(92%);

  --context-menu-height: 10rem;
  --function-bar-width: 3em;
  --title-bar-height: 2em;
  --viewport-header-height: 2.4em;
}

.base_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.row{
  display: flex; 
  flex-direction: row;
}

.column{
  display: flex; 
  flex-direction: column;
}

.color{
  background-color: var(--comp-color);
}

.outline-t{
  border-top: var(--border-size) solid;
  margin-top: calc(0px - var(--border-size));
  border-color: var(--border-color);
  z-index: 1;
}

.outline-b{
  border-bottom: var(--border-size) solid;
  margin-bottom: calc(0px - var(--border-size));
  border-color: var(--border-color);
  z-index: 1;
}

.outline-l{
  border-left: var(--border-size) solid;
  margin-left: calc(0px - var(--border-size));
  border-color: var(--border-color);
  z-index: 1;
}

.outline-r{
  border-right: var(--border-size) solid;
  margin-right: calc(0px - var(--border-size));
  border-color: var(--border-color);
  z-index: 1;
}

.tab-outline{
  border-bottom: 1px solid;
  margin-bottom: -1px;
  padding-left:2px; 
  padding-right: 2px;
  border-color: gray;
}

.titlebar {
  height: var(--title-bar-height);
  z-index: 3;
  user-select: none;
  justify-content: flex-end;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30px;
}

.viewport-header{
  height: var(--viewport-header-height);
}

.nav-bar{
  min-width: 180px;
}

.function-bar{
  width: var(--function-bar-width);
  align-items: center;
  max-height: calc(100vh - var(--title-bar-height));
}

.function-button{
  width: 85%;
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px 5px 0px;
}

.function-button svg{
  stroke: var(--text-color);
  stroke-width: 1px;
}

.function-button:hover svg{
  stroke: var(--text-color-hover);
}

.function-button div{
  width: 1px;
}

.selected div{
  background-color: var(--text-color-hover);
  height: 100%;
}

.selected svg{
  stroke: var(--text-color-hover);
}

.titlebar-button:hover img{
  filter: var(--filter-highlight);
}

.filter-white{
  filter: brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(1%) hue-rotate(252deg) brightness(92%) contrast(92%);
}

.viewport-tab{
  font-size: 12px;
}
.viewport-tab.selected-tab{
  color: var(--highlight-color-alt);
}
.viewport-tab.selected-tab:hover{
  color: var(--highlight-color);
}
.viewport-tab:hover{
  color: var(--text-color-hover);
}

.selected-tab{
  border-color: #24c8db;
}

.context-menu{
  min-height: 100px;
  max-height: 400px;
}

.resize-ns{
  height: 1rem;
  width: 100%;
  z-index: 99;
  margin-right: 10px;
  margin-left: 10px;
}
.resize-ns:hover{
  cursor: ns-resize;
}

.resize-ew{
  width: 1rem;
  height: 100%;
  z-index: 99;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resize-ew:hover{
  cursor: ew-resize;
}

.disableSelection{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  }

.context-button{
  border-radius: 5px;
  padding: 4px 9px 4px 9px;
}

/* .context-button:hover{
  color: var(--highlight-color);
} */

.context-button:hover{
  background-color: var(--button-hover);
  color: var(--text-color-hover);
}

button{
  display: flex;
  align-items: center; 
  border-width: 0px;
  background-color: var(--comp-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }
}
